<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="https://ptetutorials.com/images/user-profile.png" class="online" alt="" />
                <p>{{currentUser}}</p>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul id="all-users">
                {{#each users}}
                <li class="contact" data-username="{{this}}">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
                        <div class="meta">
                            <p class="name">{{this}}</p>
                            {{!-- <p class="preview">You just got LITT up, Mike.</p> --}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
            <p></p>
        </div>
        <div class="messages">
            <ul>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input id="text-msg" type="text" placeholder="Write your message..." />
                {{!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> --}}
                <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentRoomID = "";
    var currentUserID = '{{currentUser}}';
    $(".content").hide();
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    if (!("Notification" in window)) {
        alert("This browser does not support desktop notification");
    }
    if ("Notification" in window) {
        Notification.requestPermission().then(function (status) {
            console.log('Notification permission status:', status);
            Notification['permission'] = status;
        });
    }

    var socket = io('/chat', { transports: ['websocket'] });
    socket.on('connect', function (e) {
        if (currentUserID != '') {
            socket.emit('createUserRoom', currentUserID);
            socket.emit('join', currentUserID);
        }
        socket.on('updateUsers', function (iUser) {
            var userExistLength = $('[data-username="' + iUser + '"]').length;
            if (iUser != "" && userExistLength < 1) {
                UpdateUsers(iUser);
            }
            $(".contact").on('click', function (e) {
                $(".contact").removeClass("active"); ''
                $(this).addClass('active');
                currentRoomID = $(this).data("username");
                $(".contact-profile p").text(currentRoomID);
                $('.sent').remove();
                $('.replies').remove();
                $(".content").show();
                var currentRoomMessages = JSON.parse(sessionStorage.getItem(currentRoomID));
                if (currentRoomMessages != null) {
                    for (var i = 0; i < currentRoomMessages.length; i++) {
                        iMessage = currentRoomMessages[i];
                        renderMessage(iMessage.msg, iMessage.class);
                    }
                }
                removeMessagePreview(currentRoomID);
            });
        });
        socket.on('removeUser', function (iUser) {
            $('[data-username="' + iUser + '"]').remove()
        });

        function createNotificationOnNewMessage(iIncomingMessage) {
            var options = {
                body: iIncomingMessage.messageContent,
                icon: 'https://ptetutorials.com/images/user-profile.png',
            }
            Notification
                .requestPermission()
                .then(function () {
                    var notification = new Notification(iIncomingMessage.username + " sent a message", options);
                    setTimeout(notification.close.bind(notification), 5000);
                });
        }

        function newMessage(iMsg, iClass) {
            var chatStoreRoom = currentRoomID;
            if (iClass === "replies") {
                chatStoreRoom = iMsg.username;
            }
            if (sessionStorage.getItem(chatStoreRoom) == null) {
                var messagesLocal = [{ msg: iMsg, class: iClass }];
                sessionStorage.setItem(chatStoreRoom, JSON.stringify(messagesLocal));
            } else {
                var storedMessages = JSON.parse(sessionStorage.getItem(chatStoreRoom));
                storedMessages.push({ msg: iMsg, class: iClass });
                sessionStorage.setItem(chatStoreRoom, JSON.stringify(storedMessages));
            }
            if (iClass == "sent") {
                renderMessage(iMsg, iClass);
            } else {
                if (iMsg.username == currentRoomID) {
                    renderMessage(iMsg, iClass);
                } else {
                    addMessagePreview(iMsg);
                }
            }
        };

        function addMessagePreview(iIncomingMessage) {
            removeMessagePreview(iIncomingMessage.username);
            var msgPreview = $('<p>').addClass('preview').text(iIncomingMessage.messageContent);
            $('[data-username="' + iIncomingMessage.username + '"] .wrap .meta').append(msgPreview);
        }
        function removeMessagePreview(iCurrentActiveRoom) {
            $('[data-username="' + iCurrentActiveRoom + '"] .wrap .meta .preview').remove();
        }
        function renderMessage(iMsg, iClass) {
            if ($.trim(iMsg.messageContent) == '') {
                return false;
            }
            $('<li class="' + iClass + '"><img src="https://ptetutorials.com/images/user-profile.png" alt="" /><p>' + iMsg.messageContent + '</p></li>').appendTo($('.messages ul'));
            $('.message-input input').val(null);
            $('.contact.active .preview').html('<span>You: </span>' + iMsg.messageContent);
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        }
        function UpdateUsers(iUser) {
            var users = $('#all-users');
            var liComp = $('<li>').addClass("contact");
            liComp.attr("data-username", iUser);
            var divComp = $('<div>').addClass("wrap");
            var spanElem = $('<span>').addClass("contact-status").addClass("online");
            var imgElem = $('<img>').attr("src", "https://ptetutorials.com/images/user-profile.png");
            var metaElem = $('<div>').addClass("meta").append($('<p>').addClass("name").text(iUser));
            divComp.append(spanElem);
            divComp.append(imgElem);
            divComp.append(metaElem);
            liComp.append(divComp);
            users.append(liComp);
        }
        $('.submit').click(function () {
            var message = {
                messageContent: $(".message-input input").val(),
                username: '{{currentUser}}',
                date: Date.now()
            };
            socket.emit("newMessage", currentRoomID, message);
            newMessage(message, "sent");
        });

        socket.on("addMessage", function (iMsg) {
            createNotificationOnNewMessage(iMsg);
            newMessage(iMsg, "replies");
        });

        $('#text-msg').off('keydown').on('keydown', function (e) {
            if (e.which == 13) {
                var message = {
                    messageContent: $(".message-input input").val(),
                    username: '{{currentUser}}',
                    date: Date.now()
                };
                socket.emit("newMessage", currentRoomID, message);
                newMessage(message, "sent");
                return false;
            }
        });
    });
</script>