<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="https://ptetutorials.com/images/user-profile.png" class="online" alt="" />
                <p>{{currentUser}}</p>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul id="all-users">
                {{#each users}}
                <li class="contact" data-username="{{this}}">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
                        <div class="meta">
                            <p class="name">{{this}}</p>
                            {{!-- <p class="preview">You just got LITT up, Mike.</p> --}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
            <p></p>
        </div>
        <div class="messages">
            <ul>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input id="text-msg" type="text" placeholder="Write your message..." />
                {{!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> --}}
                <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentRoomID = "";
    var currentUserID = '{{currentUser}}';
    $(".content").hide();
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");

    var socket = io('/chat', { transports: ['websocket'] });
    socket.on('connect', function (e) {
        if (currentUserID != '') {
            socket.emit('createUserRoom', currentUserID);
        }
        socket.on('updateUsers', function (iUser) {
            if(iUser != ""){
                UpdateUsers(iUser);
            }
            $(".contact").on('click', function (e) {
                $(".contact").removeClass("active"); ''
                $(this).addClass('active');
                currentRoomID = $(this).data("username");
                $(".contact-profile p").text(currentRoomID);
                $(".content").show();
                socket.emit('join', currentUserID);
                socket.emit('join', currentRoomID);
                console.log(currentRoomID);
            });
        });
        socket.on('removeUser', function (iUser) {
            $('[data-username="' + iUser + '"]').remove()
        });

        function newMessage(iMsg, iClass) {
            if ($.trim(iMsg.messageContent) == '') {
                return false;
            }
            $('<li class="' + iClass + '"><img src="https://ptetutorials.com/images/user-profile.png" alt="" /><p>' + iMsg.messageContent + '</p></li>').appendTo($('.messages ul'));
            $('.message-input input').val(null);
            $('.contact.active .preview').html('<span>You: </span>' + iMsg.messageContent);
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        };
        function UpdateUsers(iUser) {
            var users = $('#all-users');
            var liComp = $('<li>').addClass("contact");
            liComp.attr("data-username", iUser);
            var divComp = $('<div>').addClass("wrap");
            var spanElem = $('<span>').addClass("contact-status").addClass("online");
            var imgElem = $('<img>').attr("src", "https://ptetutorials.com/images/user-profile.png");
            var metaElem = $('<div>').addClass("meta").append($('<p>').addClass("name").text(iUser));
            divComp.append(spanElem);
            divComp.append(imgElem);
            divComp.append(metaElem);
            liComp.append(divComp);
            users.append(liComp);
        }
        $('.submit').click(function () {
            var message = {
                messageContent: $(".message-input input").val(),
                username: '{{currentUser}}',
                date: Date.now()
            };
            socket.emit("newMessage", currentRoomID, message);
            newMessage(message, "sent");
        });

        socket.on("addMessage", function (iMsg) {
            console.log(socket.username + " :" + iMsg.messageContent);
            newMessage(iMsg, "replies");
        });

        $('#text-msg').off('keydown').on('keydown', function (e) {
            if (e.which == 13) {
                console.log("window");
                var message = {
                    messageContent: $(".message-input input").val(),
                    username: '{{currentUser}}',
                    date: Date.now()
                };
                socket.emit("newMessage", currentRoomID, message);
                newMessage(message, "sent");
                return false;
            }
        });
    });
</script>